body {
	font-family: 'Roboto', sans-serif;
	padding: 20px;
	background: #fa9676; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fa9676, #110d02); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fa9676, #110d02); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fa9676, #110d02); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fa9676, #110d02); /* Standard syntax */
}

main {
	position: relative;
	margin: 0 auto;
	height: 100vh;
}

ul {
	list-style: none;
}

.progress-bar li {
	font-size: 12px;
  	width: 24%;
  	float: left;
}

.progress-bar li:before {
	content: counter(step);
  	counter-increment: step;
	width: 25px;
  	line-height: 25px;
  	display: block;
  	font-size: 12px;
  	color: transparent;
  	border: 6px solid #ececec;
  	background: #27ae60;
  	border-radius: 19px;
  	margin: 0 auto 4px;
}

.progressbar li:after {
  content: '';
  width: 85%;
  height: 3px;
  background: #B9B9B9;
  position: absolute;
  left: -42%;
  top: 17px;
  z-index: -1;
}

.form-area {
	width: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 50px;
	max-width: 350px;
	min-width: 150px;
}

a {
	color: #55c06e;
	text-decoration: none;
}

button {
	background-color: #00b242;
	width: 100%;
	border: none;
	padding: 18px;
	text-transform: uppercase;
	color: #fff;
	margin: 10px 0;
	font-size: 15px;
}

input::placeholder {
	color: #acacac;
}

p {
	color: #cacaca;
	text-align: center;
	font-size: 14px;
}

.form-input {
	margin: 10px 0;
	padding: 18px;
	width: 100%;
	border: none;
	background-color: #f2f2f2;
	box-sizing: border-box;
	font-family: helvetica, sans-serif;
	font-size: 16px;
}
